.col-md-9,
.col-md-2,
.col-md-4,
.col-md-6,
.col-md-10,
.col-md-3,
.col-md-8,
.col-md-5 {
  padding: 0;
}
h1 {
  font-size: 24px !important;
}
 input,
select,
textarea {
  max-width: 98.5% !important;
}
  .form-control[readonly],
fieldset[disabled] .form-control {
  background-color: lightgray;
}
   .btn-warning {
  background: #1ABB9C !important;
  border-color: #1ABB9C !important;
}
 .btn-warning:hover {
  background: #1ABB9C !important;
  border-color: #1ABB9C !important;
}
 .btn-warning:focus {
  background: #1ABB9C !important;
  border-color: #1ABB9C !important;
}
     .badge {
  margin-bottom: 4px;
}
 .site_title {
  height: auto !important;
}
 .nav_title {
  height: auto !important;
}
 .userInfo {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}
 .text-right {
  text-align: right;
  float: right;
}
 .top-header {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 700;
  padding: 0 20px;
}
 #setting-details {
  padding: 10px;
  padding-left: 0 !important;
  margin: 10px;
}
 #setting-details  label {
  vertical-align: middle;
  margin-top: 8px !important;
}
 #setting-details  h4 {
  margin: 20px 0;
  padding-bottom: 4px;
  margin-left: -10px;
  color: #2A3F54;
  border-bottom: 1px solid rgba(42, 63, 84, 0.27);
}
 #setting-details  h2 {
  font-size: 23px;
}
 .add-btn {
  padding: 10px;
}
 label {
  width: auto !important;
  margin: 0 !important;
}
 .form-inline {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
 h1 {
  font-size: 29px;
}
 .btn {
  margin: 0 !important;
}
 .glyphicon-chevron-down {
  font-size: 20px !important;
  /*margin: 0 95px;*/
}
 #brochure {
  cursor: pointer;
  background-color: rgba(42, 63, 84, 0.27);
  color: white;
  text-align: center;
  border: 1px solid #ccc;
  margin-right: -2px;
}
 #brochure  b {
  font-size: 15px;
}
.school-details {
  padding: 10px;
}
.school-details .row {
  margin-top: 10px !important;
}
   .dz-success-mark,
.dz-error-mark,
.dz-image,
.dz-message {
  visibility: hidden;
}
 #errMessage,
#validationerrMessage {
  font-size: 16px;
  color: #c00000;
  font-weight: 700;
}
 input,
select,
textarea {
  max-width: 100% !important;
}
 #SchoolDetail_Brochure {
  width: 275px !important;
}
 .meta-descriptions {
  padding: 10px 0 10px 0;
  border-bottom: 1px dotted #e3e1e1;
  margin: 10px 0 20px 0;
}
 .meta-descriptions  h4 {
  color: #1ABB9C !important;
  font-size: 20px;
  border-bottom: 1px dotted #e3e1e1;
  font-weight: 700;
  padding: 0 0 6px 0;
  margin: 0;
  margin-left: -15px;
}
 .static-content .col-md-2 {
  width: 172px !important;
}
 .feature-content .col-md-2 {
  width: 110px;
}
 .feature-content .feature-text {
  width: 8% !important;
  margin-right: 7px;
}
 .top-content {
  margin-top: 20px;
}
 .delete-btn  .btn-primary {
  border-radius: 5px !important;
  font-size: 15px !important;
  border-width: 0 1px 4px !important;
  margin-top: 10px !important;
}
 .static {
  margin-top: 15px;
  color: #fff;
}
 .static  a {
  color: #fff !important;
}
 .static  a:hover,
 .static a:focus {
  text-decoration: none;
}
 .nav.side-menu > li.active {
  border-right: none !important;
}
 .faq-btn {
  margin-top: 10px;
}
 .delete-faqbtn {
  margin-top: -20px;
}
 .faq-text {
  width: 200px !important;
}
 .staticpage-content .col-md-2 {
  width: 110px;
}
 .brochure-label .col-md-3 {
  padding-left: 10px;
}
 .dz-image img {
  visibility: hidden;
}
 .dz-image {
  visibility: hidden;
}
 .dz-size {
  visibility: hidden;
}
 #brochure .dz-details {
  margin-top: -28px !important;
}
 .pricing-options label,
 .pricing-options input,
 .pricing-options .col-md-2 {
  margin-right: 15px !important;
}
h3 {
  color: #73879C;
}
.note-text .col-md-1 {
  padding-left: 0 !important;
}
.rate-txt {
  width: 220px !important;
}
.input-group-btn {
  height: 0 !important;
}
.btnFind {
  min-height: 35px;
  min-width: 30px;
}
.txt-find {
  width: 200px !important;
  margin-right: -5px;
}
.faq-id {
  padding-left: 8px;
}
.school-option {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}
.school-option h3 {
  margin-bottom: 20px;
}
.add-city {
  margin-right: 10px;
}
.resources-heading h1 {
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 10px;
}
.brocure-details {
  text-decoration: none;
  margin-right: -1px;
}
.brocure-content {
  /*border-bottom: 1px dotted #e3e1e1;*/
}
.brocure-content .col-md-8 {
  width: 46%;
}
.brocure-content  .btn-warning {
  background: #f0ad4e !important;
  border-color: #f0ad4e !important;
}
.brocure-content  .btn-warning:hover {
  background: #f0ad4e !important;
  border-color: #f0ad4e !important;
}
.brocure-content  .btn-warning:focus {
  background: #f0ad4e !important;
  border-color: #f0ad4e !important;
}
.save-school {
  padding-top: 20px;
  margin-top: 30px;
}
.dropzone {
  min-height: 20px !important;
  padding: 10px !important;
}
.dropzone  a {
  color: white;
  text-decoration: none;
}
.dropzone  a:hover,
.dropzone a:focus {
  text-decoration: none !important;
}
.dropzone .dz-preview {
  margin: 0 !important;
  min-height: 20px !important;
}
.dropzone .dz-preview .dz-image {
  height: 20px !important;
}
.dropzone .dz-preview .dz-details {
  padding: 0 !important;
}
.dropzone .dz-preview .dz-details .dz-size {
  margin: 0 !important;
}
.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
  /*background-color: rgba(42, 63, 84, 0.27)!important;*/
  background-color: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
}
.dz-filename span {
  background-color: none !important;
  color: white !important;
  background: none !important;
}
.dz-remove {
  font-weight: bold !important;
  font-size: 16px;
}
.dropzone .dz-message {
  margin: 0 !important;
}
.special-offer .col-md-1 {
  padding-left: 0 !important;
}
.index-Page {
  height: 1000px !important;
  background: #F7F7F7;
}
#SchoolCourseDetail_HasItem {
  width: 26px !important;
}
.field-validation-error {
  color: red;
}
.fa-magic {
  font-size: 18px;
}
.fa-photo {
  font-size: 22px;
}
.fa-floppy-o:before,
.fa-trash:before {
  margin-right: 4px;
}
#cke_1_contents {
  height: 350px !important;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn-group .glyphicon-eye-open,
.btn-group .glyphicon-remove {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 17px;
  color: gray;
}
.btn-group a:hover,
.btn-group a:focus {
  text-decoration: none;
  color: black;
}
.course-item {
  /*margin-left:-20px!important;*/
}
.course-item label {
  text-align: unset !important;
}
.course-item-txt {
  margin-left: 20px !important;
}
.show-localisation .form-inline {
  margin-top: 15px !important;
}
.get-all-resources h3 {
  /*margin-bottom:10px!important;*/
  border-bottom: 1px solid #ccc;
}
.resources-list {
  margin-right: 10px !important;
}
.validation-summary-errors li {
  color: #dc5252;
  font-weight: bold;
}
.spoffer-dates {
  margin-top: -10px !important;
}
.pull-top {
  margin-top: -15px;
}
.top-margin {
  margin-top: 10px;
}
.cal-commission,
.specialoffcommission {
  margin-left: 10px !important;
  white-space: nowrap;
  vertical-align: middle;
  padding: 5px 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.fa-calculator {
  font-size: 20px;
}
.childmenu {
  padding-left: 12px !important;
}
.right-label {
  padding-left: 10px;
}
.no-padding {
  padding-left: 0 !important;
}
input[type="checkbox"] {
  max-width: 24px !important;
  max-height: 25px !important;
}
.content-list {
  margin-top: 32px;
}
.input-group-addon a {
  text-decoration: none;
  color: black !important;
}
.generate-btn .input-group-addon {
  background-color: #E8E8E8 !important;
}
.url-text {
  font-size: 15px !important;
  margin-left: 5px;
}
.long-text {
  width: 110px;
}
.media-btn {
  padding: 0 !important;
}
.settingmedia-btn {
  margin-top: 3px;
}
.settingmedia-btn a {
  padding: 6px 20px !important;
}
.fa-image {
  padding-right: 10px !important;
}
img {
  vertical-align: middle;
}
.thumbnail {
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.thumbnail img {
  max-width: 100% !important;
  max-height: 100% !important;
}
/*.thumbnail .image {
    height: 150px !important;
}*/
.caption {
  font-size: 12px;
  padding: 0 !important;
}
.modal-content {
  min-height: 250px !important;
}
.modal-dialog {
  width: 1000px !important;
}
.modal-header h1 {
  color: black;
}
.thumbnail.selected {
  border: 2px solid #428bca;
}
#images-block .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
#images-block .col-md-3 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
#images-block .thumbnail {
  max-height: 125px !important;
}
#images-block .thumbimage-name {
  position: unset !important;
}
#images-block > .media-thumb-container {
  /*width: 232px !important;*/
  display: block;
  position: relative;
  max-height: 245px;
  float: left;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.modal-body {
  position: relative;
  padding: 20px;
  min-height: 400px !important;
  max-height: 400px !important;
  overflow: scroll;
  background-color: #f3f3f3 !important;
}
.thumbimage-name {
  font-size: 12px;
  color: #666;
  text-align: center;
  font-weight: 100;
  margin: 0;
  padding: 0;
  bottom: 10px;
  color: #73879C;
}
.images {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.thumb-image {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity .1s;
}
.centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
#media-grid {
  margin-top: 40px;
  display: block;
  margin: 0 0 6px 0;
}
#media-grid h3 {
  border-bottom: 1px solid #e2e2e2;
  color: #666;
  font-weight: 700;
  display: block;
  font-size: 21px;
  color: #c00000;
  line-height: 25px;
}
#media-grid .img-block {
  overflow: hidden;
  padding: 8px;
  display: block;
  vertical-align: top !important;
  /*width:185px!important;*/
  height: 210px;
  text-align: center;
  cursor: pointer;
}
#media-grid .img-box {
  padding: 2px;
  line-height: 95px;
  display: block;
  text-align: center;
  overflow: hidden;
}
#media-grid .thumbimage-name {
  position: absolute !important;
}
#media-grid img {
  display: inline;
  padding: 2px;
  vertical-align: middle;
}
#media-grid .fa-arrows {
  float: right;
}
.foreground {
  background-color: #fff !important;
  margin-bottom: 6px !important;
  border: 1px solid #e2e2e2;
  padding: 6px !important;
}
#SchoolDetail_LogoMediaId {
  height: 40px;
}
.upadtedisplay {
  clear: both;
  padding: 20px;
}
#Sucessmessage {
  font-size: 16px;
  color: #c00000;
  font-weight: 700;
  clear: both;
  float: right;
}
.fa-upload :before {
  margin-right: 10px !important;
}
.media-url {
  background-color: #E8E8E8 !important;
  padding: 0 !important;
  border: none !important;
  font-size: 17px;
}
.schl-btn {
  width: 95px !important;
}
.additional {
  margin-left: 20px;
}
.staticpage-contentlbl .col-md-2 {
  width: 124px !important;
}
.label-width {
  width: 125px !important;
}
.small-textbox {
  width: 150px;
}
.pull-leftmargin {
  margin-left: -5px;
}
.cke_reset_all {
  background-color: #ccc !important;
}
.booking {
  margin-top: 30px !important;
}
.crown {
  margin-right: 6px;
}
#txtFindBooking {
  width: 250px !important;
}
.logoutlink {
  vertical-align: middle;
}
.booking-title {
  font-size: 22px;
  vertical-align: middle;
  border-right: 1px solid;
  padding-right: 10px;
}
.pipeline {
  padding: 10px;
}
.booking-headings {
  margin-top: 15px;
}
.booking-btn,
.booking-reference {
  padding-left: 10px;
}
.booking-btn .btn,
.booking-reference .btn {
  border-radius: 5px;
  padding: 3px 12px !important;
}
.booking-block {
  padding: 20px;
}
.text-left {
  text-align: left;
}
.left-margin {
  /*margin-left:-10px !important;*/
}
.pull-leftmargin {
  margin-left: -8px !important;
}
.exam-fee {
  margin-left: 5px;
}
#BookingDetail_OtherExpenses {
  margin-left: 52px;
}
#BookingDetail_Note {
  margin-left: 30px !important;
}
.booking-row {
  margin-right: -10px;
  margin-left: -10px;
  margin-top: 10px !important;
  padding-top: 10px !important;
}
.coloredlabel {
  color: #1ABB9C !important;
}
/*# sourceMappingURL=Style.css.map */